[server]
name = ****
user = ****
password = ****
vhost = ****
log_exchange = ****
fbi_exchange = ****
opensearch_exchange = ****
queue = elasticsearch_update_queue_****

[logging]
log-level = info

[moles]
moles_url = http://api.catalogue.ceda.ac.uk

[elasticsearch]
es-api-key = ****

[files-index]
es-index = opensearch-files